{% extends 'layout.twig' %}

{% block jumbotron %}
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img src="/images/avatars/{{ name|lower }}.jpg" class="img-rounded img-responsive">
			</div>
			<div class="col-sm-8">
				<h1>{{ greeting|e }}</h1>
				<h2>{{ subheading|e }}</h2>
				<h4>{{ description|e|nl2br }}</h4>
				<br>
				<div class="row">
					<div class="col-sm-12">
						{% if subscribercount == 1 %}
							<p>1 subscriber</p>
						{% else %}
							<p>{{ subscribercount }} subscribers</p>
						{% endif %}
						{% if user is defined and user.name == name %}
							<a href="#editMe" class="btn btn-info btn-sm" data-toggle="modal"><span class="glyphicon glyphicon-edit"></span> Edit my info</a>
						{% else %}
							<form {% if subscribedTo %} class="hide" {% endif %} id="subscribe" action="/profile/subscribe/" method="POST">
								<input type="hidden" name="name" value="{{ name }}" />
								<button class="btn btn-success btn-lg">Subscribe to {{ name }}'s feed</button>
							</form>

							<form {% if not subscribedTo %} class="hide" {% endif %} id="unsubscribe" action="/profile/unsubscribe/" method="POST">
								<input type="hidden" name="name" value="{{ name }}" />
								<button class="btn btn-warning btn-lg">Unsubscribe from {{ name }}'s feed</button>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% if user is defined and user.name == name %}
	<div class="container">
		<div class="row">
			<p><a href="#addItem" class="btn btn-success btn-lg" data-toggle="modal"><span
							class="glyphicon glyphicon-plus-sign"></span> Add item to my feed</a></p>
			<br>
		</div>
	</div>
	{% include 'creator/modal.twig' %}
	{% include 'creator/submit.twig' %}
{% endif %}

{% endblock %}


{% block content %}

<div class="list-group">

{% for thing in things %}
<div class="row list-group-item clearfix">
	<div class="col-md-12">
		<h1>{{ thing.title }}</h1>
	</div>
	<div class="col-md-2">
		<img src="/images/things/{{ thing.id }}.jpg" class="img-rounded img-responsive">
	</div>
	<div class="col-md-10">
		<blockquote>
			<p>{{ thing.description|nl2br }}</p>
			<p><a target="_blank" href="{{ thing.url }}">{{ thing.url }}</a></p>
			<p><small>by {{ name }}, {{ thing.createdAt }}</small></p>
			<p>
				<script id='thing{{ thing.id }}'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='http://api.flattr.com/button/view/?button=compact&url={{ thing.url|url_encode }}';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('thing{{ thing.id }}');</script>
			</p>
		</blockquote>
	</div>
</div>
{% else %}
	<h2>This user has no submitted things yet</h2>
{% endfor %}
{% endblock %}