{% extends 'layout.twig' %}

{% block jumbotron %}
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img src="http://placekitten.com/1000/1000" class="img-rounded img-responsive">
			</div>
			<div class="col-sm-8">
				<h1>{{ greeting }}</h1>
				<h2>{{ subheading }}</h2>
				<h4>{{ description }}</h4>
				<br>
				<div class="row">
					<div class="col-sm-12">
						{% if user is defined and user.name == name %}
							<a href="#editMe" class="btn btn-info btn-sm" data-toggle="modal"><span class="glyphicon glyphicon-edit"></span> Edit my info</a>
						{% else %}
							<a class="btn btn-success btn-lg">Subscribe to {{ name }}'s feed</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% if user is defined and user.name == name %}
	<!-- Modal -->
	<div class="modal fade" id="editMe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="/create/">
					<div class="modal-body">
						<div class="form-group">
							<label for="greeting">Headline</label>
							<input name="greeting" id="greeting" class="form-control" maxlength="23" value="{{ greeting }}" placeholder="The greeting line">
						</div>
						<div class="form-group">
							<label for="subheading">Byline</label>
							<input name="subheading" id="subheading" class="form-control" maxlength="50" value="{{ subheading }}" placeholder="Tell what you are doing">
						</div>
						<div class="form-group">
							<label for="description">Title</label>
							<textarea name="description" id="description" maxlength="200" placeholder="What will you do with the support?" class="form-control">{{ description }}</textarea>
						</div>
						<div class="form-group">
							<label for="myImage">Profile image</label>
							<p><img src="http://placekitten.com/100/100" class="img-rounded img-responsive"></p>
							<input type="file" id="myimage">
							<p class="help-block">The image will be cropped to square.</p>
						</div>
						<div class="form-group">
							<p><label for="image">Wallpaper</label></p>
							<label class="radio-inline">
								<input type="radio" name="wallpapers" id="inlineCheckbox1" value="option1" checked> <img src="http://placekitten.com/100/40" class="img-rounded">
							</label>
							<label class="radio-inline">
								<input type="radio" name="wallpapers" id="inlineCheckbox2" value="option2"> <img src="http://placekitten.com/101/40" class="img-rounded">
							</label>
							<label class="radio-inline">
								<input type="radio" name="wallpapers" id="inlineCheckbox3" value="option3"> <img src="http://placekitten.com/102/40" class="img-rounded">
							</label>
							<label class="radio-inline">
								<input type="radio" name="wallpapers" id="inlineCheckbox4" value="option4"> <img src="http://placekitten.com/103/40" class="img-rounded">
							</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">Save my info</button>
					</div>
				</form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Edit my info</h4>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endif %}

{% endblock %}


{% block content %}

<div class="list-group">
<!-- Feed -->

<div class="row list-group-item clearfix">
	<div class="col-md-12">
		<h1>Heading of feed item</h1>
	</div>
	<div class="col-md-2">
		<img src="http://placekitten.com/300/300" class="img-rounded img-responsive">
	</div>
	<div class="col-md-10">
		<blockquote>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a href="#">http://www.internet.ninja.com/apost_of_dignity</a></p>
			<p><small>by Bonq, Sept 19 2013</small></p>
			<p>
				<script id='fb2ewwo'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='http://api.flattr.com/button/view/?uid=bonq&button=compact&url=http%3A%2F%2Fwww.gooasdfasdfgle.com';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb2ewwo');</script>
			</p>
		</blockquote>
	</div>
</div>

<div class="row list-group-item clearfix">
	<div class="col-md-12">
		<h1>Heading of feed item 2</h1>
	</div>
	<div class="col-md-2">
		<img src="http://placekitten.com/400/400" class="img-rounded img-responsive">
	</div>
	<div class="col-md-10">
		<blockquote>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a href="#">http://www.internet.ninja.com/apost_of_dignity</a></p>
			<p><small>by Bonq, Sept 19 2013</small></p>
			<p>
				<script id='asdf'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='http://api.flattr.com/button/view/?uid=bonq&button=compact&url=http%3A%2F%2Fwww.gooasdfasdfgle.com';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('asdf');</script>
			</p>
		</blockquote>
	</div>
</div>
{% endblock %}