{% extends 'layout.twig' %}

{% block content %}

	{% if user is defined %}
		{% include 'creator/modal.twig' %}
	{% endif %}

	<div class="row">
		<div class="col-md-8">
			<h3>Your combined feed</h3>
		</div>
		<div class="col-md-4">
			<h3 class="pull-right"><a href="#">RSS</a></h3>
		</div>
	</div>

	{% for thing in feed %}

	<div class="list-group"> <!-- Feed item-->

		<div class="row list-group-item clearfix"> <!-- If combined feed -->
			<div class="row">
				<div class="col-md-12">
					{{ thing.creator.username }}
				</div>
			</div>
		</div>

		<div class="row list-group-item clearfix">
			<div class="col-md-12">
				<h1>{{ thing.title }}</h1>
			</div>
			<div class="col-sm-2">
				<img src="/images/things/{{ thing.id }}.jpg" class="img-rounded img-responsive">
			</div>
			<div class="col-sm-10">
				<blockquote>
					<p>{{ thing.description }}</p>
					<p><a target="_blank" href="{{ thing.url }}">{{ thing.url }}</a></p>
					<p><small>by <a href="/profile/{{ thing.creator.username }}">{{ thing.creator.username }}</a>, {{ thing.createdAt }}</small></p>
					<p>
						<script id='thing{{ thing.id }}'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='http://api.flattr.com/button/view/?button=compact&url={{ thing.url|url_encode }}';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('thing{{ thing.id }}');</script>
					</p>
				</blockquote>
			</div>
		</div>
	</div> <!-- /Feed item -->

	{% else %}
		<h2>No subscribed things yet</h2>
	{% endfor %}
{% endblock %}