{% extends 'layout.twig' %}

{% block jumbotron %}
	<div class="jumbotron frontpage">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<img src="images/photos/empire.png" class="img-rounded img-responsive" style="width: 200px">
				</div>
				<div class="col-sm-9">
					<h1>Follow & Fund Creators</h1>
					<h2>Give a Flattr for each thing your favorite creators makes</h2>
					<h4>Subscribe to your favorite creators feed. Each time they release something new you will know about it and flattr it.</h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block content %}

	{% for user in frontpageUsers %}
		{% if loop.index is odd %}
			<div class="row">
		{% endif %}
		<div class="col-sm-6">
			<a href="/profile/{{ user.username|lower }}">
				<div class="well well-sm clearfix white_back">
					<div class="col-sm-4 frontpage_tumb">
						<img src="/images/avatars/{{ user.username|lower }}.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-sm-8">
						<h2>{{ user.username }}</h2>
						<h4>{{ user.greeting }}</h4>
						<h4>{{ user.description }}</h4>
						<h4><span class="label label-primary">{{ user.counter }} subscribers</span></h4>
					</div>
				</div>
			</a>
		</div>
		{% if loop.index is even %}
			</div>
		{% endif %}
	{% endfor %}

{% endblock %}